/*
 * Empty Stylesheet file.
 */

#LogoLabel {
    -fx-font-size: 9;
    -fx-font-family: "Century";
    -fx-background-color: #e3e3e3;
    -fx-text-fill: red;
}
#LogoLabel:hover {
    -fx-font-size: 12;
    -fx-font-family: "Century";
    -fx-background-color: #e3e3e3;
    -fx-text-fill: red;
}
